.primary-header {
  padding: 24px 24px 0 80px;
}

.primary-heading {
  font-size: 32px;
}

.products-wrapper {
  max-width: 1136px;
  margin: 2.375em auto 0;
}

.products-wrapper--large-gap-top {
  margin-top: 4.5em;
}

.products-heading {
  font-size: 50px;
  font-weight: 500;
  padding-left: 0.16em;
}

.primary-footer {
  background: #005B81;
  padding: 2.5625em;
  color: #FFFFFF;
  margin-top: 4.5em;
}

.footer-heading {
  text-align: center;
}